.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-group.invalid .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
}
